*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* Default font size of browser is 16px convert to percentage. */
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  /*font-family: sans-serif;*/
  letter-spacing: 1px;
  /*font-weight: 100;*/
  text-transform: uppercase;
  font-family: brandon-grotesque, sans-serif;
  font-style: normal;
  font-weight: 900;
}

canvas {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
}

.nav {
  z-index: 1;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  opacity: 0.5;
}

.playbtn {
  display: flex;
  align-items: center;
}

.playbtn__icon {
  height: 3rem;
  width: 3rem;
}

.playbtn__icon:active {
  transform: scaleY(-1rem);
}

.playbtn__input {
  display: none;
}

.soundbtn {
  display: flex;
  align-items: center;
}

.soundbtn__icon {
  height: 3rem;
  width: 2rem;
  display: none;
}

.soundbtn__input {
  display: none;
}

.bkg {
  /*background-color: rgba(0, 0, 0, 1);*/
  background: url("../imgs/m_bg.png");
  background-size: cover;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.dragPrompt {
  background: rgba(0,0,0,.5);
  border-radius: 10px;
  padding: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 2rem;
  font-weight: 100;
  width: auto;
  max-width: 80%;
  height: auto;
  z-index: 100;
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.container {
  color: white;
  flex: 0 0 20%;
  height: 20rem;
  background-color: black;
}

h1 {
  margin-bottom: 2rem;
}

.header__text-box {
  text-align: center;
  max-width: 90%;
  margin-top: 30%
}

.header__image {
  max-width: 90%;
  margin-bottom: 100px;
}

.heading-primary, .heading-secondary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 13rem;
}

.heading-primary--main, .heading-secondary--main {
  display: block;
  font-size: 2.2rem;
  /*font-weight: 400;*/
  letter-spacing: 10px;
  margin-bottom: 20px;
}

.heading-secondary--main {
  letter-spacing: 2px;
  max-width: 60%;
  margin: 0 auto;
}

.heading-primary--sub, .heading-primary--allNew, .heading-primary--london {
  text-align: center;
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 15px;
}

.heading-primary--sub {
  margin-bottom: 50px;
  letter-spacing: 5px;
}

.heading-primary--allNew {
  letter-spacing: 3px;
  font-size: 1rem;
  margin-bottom: 5px;
}

.heading-primary--london {
  letter-spacing: 3px;
  font-size: 1.2rem;
}

.btn--white {
  background-color: transparent;
  color: #fff;
  padding: 15px 100px;
  border: 2px solid #fff;
  font-size: 1.8rem;
  letter-spacing: 5px;
  /*border-radius: 50px;*/
}
.btn--white::after {
  background-color: #fff;
}

@media (min-width: 500px) {

  .bkg {
    background: url("../imgs/d_bg.png");
    background-size: cover;

  }

  .dragPrompt {
    max-width: 450px;
  }

  .header__text-box {
    margin-top: 250px;
  }

  .heading-primary--main, .heading-secondary--main {
    display: block;
    font-size: 4.2rem;
    /*font-weight: 400;*/
    letter-spacing: 10px;
    margin-bottom: 20px;
  }

  .heading-secondary--main {
    font-size: 2.2rem;

  }


}

@media (max-width: 767px) and (orientation: landscape) {
  .header__text-box {
    margin-top: 60px;
  }

  .header__image {
    max-width: 340px;
    margin-bottom: 40px;
  }

  .heading-secondary {
    margin-bottom: 7rem;
  }
}
